.side-panel {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #866ec7;
    transition: left 0.5s;
    z-index: 1;
    font-family: Verdana, sans-serif;
}

.side-panel.open {
    left: 0;
}

.side-panel .title {
    font-size: 32px;
    font-weight: bold;
    padding: 10px;
    padding-left: 0%;
    padding-bottom: 20px;
}

.side-panel .create,
.side-panel .edit,
.side-panel .view,
.side-panel .delete{
    font-family: "Brush Script MT", cursive;
    padding: 10px;
    cursor: pointer;
    font-size: x-large;
    padding-bottom: 20px;
}


section {
    padding: 50px 20px;
    margin-left: 200px;
    background-color: rgb(128, 131, 198);
    position: relative;
}


h2 {
    margin-top: 0;
}


form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(160, 179, 236, 0.371);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

label {
    margin-bottom: 10px;
}

input[type="email"],
input[type="text"],
input[type="datetime-local"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #3E54AC;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
}

input[type="submit"]:hover {
    background-color: #7ad17e;
}

body {
    background-color: #BFACE2;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 36px;

}
button{
    font-size: 25px;
    background-color: #3E54AC;
    color: white;
    padding: 10px;
}

select{
    font-size: 20px;
}

th{
    font-size: 25px;
    padding: 15px;
}

label{
    font-size: 25px;
    font-weight: bold;
}